[Unit]
Description=dumanOS First Boot Hardware & Environment Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dumanos-firstboot-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
